.common {
  display: flex;
  align-self: center;
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
}

.common > a {
  height: 20px;
  background-color: white;
  font-size: 12px;
  line-height: 22px;
  padding: 0 6px;
}

.common > a + a,
.common > a + button {
  margin-left: 2px;
}
