.common {
  background-color: rgba(230, 230, 230, .4);
}

.common:not(:last-child) {
  margin-bottom: 10px;
}

.common > div > .common:last-child {
  margin-bottom: 7px;
}

.common > header {
  position: relative;
  display: flex;
}

.common > header > button,
.common > header > div {
  display: block;
  box-sizing: border-box;
  width: 100%;

  background: none;
  background-repeat: no-repeat;
  background-position: 3px center;
  background-size: auto 20px;

  margin: 0;
  border: none;

  text-align: left;

  font-family: "Open Sans", sans-serif;
}

.common > header > div {
  padding: 10px;
}

.common > header > button {
  padding: 10px 10px 10px 21px;
}

.common > header > button:focus {
  outline: 1px dotted black;
  outline-offset: -1px;
}

.common > header > button:hover,
.common > header > button:focus {
  background-color: rgba(230, 230, 230, .3);
}

.common > header h3 {
  margin: 0;

  font-size: 14px;
  font-weight: 600;

  cursor: default;
}

.common > div {
  padding: 7px 10px 3px 10px;
}

.black > header > button {
  background-image: url(../../images/expanded.svg);
  color: #4D4D4D;
}

.black > header > button:hover,
.black > header > button:focus {
  background-image: url(../../images/collapse.svg);
}

.black.collapsed > header > button {
  background-image: url(../../images/collapsed.svg);
}

.black.collapsed > header > button:hover,
.black.collapsed > header > button:focus {
  background-image: url(../../images/expand.svg);
}

.blue > header > button {
  background-image: url(../../images/expandedBlue.svg);
  color: #739CD2;
}

.blue > header > button:hover,
.blue > header > button:focus {
  background-image: url(../../images/collapseBlue.svg);
}

.blue.collapsed > header > button {
  background-image: url(../../images/collapsedBlue.svg);
}

.blue.collapsed > header > button:hover,
.blue.collapsed > header > button:focus {
  background-image: url(../../images/expandBlue.svg);
}

.purple > header > button {
  background-image: url(../../images/expandedPurple.svg);
  color: #78449A;
}

.purple > header > button:hover,
.purple > header > button:focus {
  background-image: url(../../images/collapsePurple.svg);
}

.purple.collapsed > header > button {
  background-image: url(../../images/collapsedPurple.svg);
}

.purple.collapsed > header > button:hover,
.purple.collapsed > header > button:focus {
  background-image: url(../../images/expandPurple.svg);
}
