.common {
  background-color: rgba(230, 230, 230, .4);
  margin: 10px 0;
}

.common + .common {
  margin-top: 10px;
}

.common > div > .common:first-child {
  margin-top: 0;
}

.common > header {
  position: relative;
  display: flex;
}

.common > header > button {
  display: block;
  box-sizing: border-box;
  width: 100%;

  background: none;
  background-repeat: no-repeat;
  background-position: 3px center;
  background-size: auto 20px;

  margin: 0;
  border: none;
  padding: 10px 10px 10px 21px;

  text-align: left;
  
  font-family: "Open Sans", sans-serif;
}

.common > header > button:focus {
  outline: 1px dotted black;
  outline-offset: -1px;
}

.common > header > button:hover,
.common > header > button:focus {
  background-color: rgba(230, 230, 230, .3);
}

.common > header > button > h3 {
  margin: 0;

  font-size: 14px;
  font-weight: 600;

  cursor: default;
}

.common > div {
  padding: 7px 10px 3px 10px;
}

.black > header > button {
  background-image: url(../../images/expanded.svg);
  color: #4D4D4D;
}

.black > header > button:hover,
.black > header > button:focus {
  background-image: url(../../images/collapse.svg);
}

.black.collapsed > header > button {
  background-image: url(../../images/collapsed.svg);
}

.black.collapsed > header > button:hover,
.black.collapsed > header > button:focus {
  background-image: url(../../images/expand.svg);
}

.blue > header > button {
  background-image: url(../../images/expandedBlue.svg);
  color: #739CD2;
}

.blue > header > button:hover,
.blue > header > button:focus {
  background-image: url(../../images/collapseBlue.svg);
}

.blue.collapsed > header > button {
  background-image: url(../../images/collapsedBlue.svg);
}

.blue.collapsed > header > button:hover,
.blue.collapsed > header > button:focus {
  background-image: url(../../images/expandBlue.svg);
}
